.team-select {

    display: flex;
    height: 80%;
    width: 80%;
    margin: auto;

    flex-wrap: wrap;

    .chat {
        flex: 2;
        background: #283C50;
        max-height: 600px;

        .chat-history {
            padding: 10px;
            height: calc(100% - 20px);
            overflow-y: scroll;
            max-height: calc(100% - 20px);
        }

        .chat-input {
            height: 30px;
            width: 100%;

            input {
                display: inline-block;
                width: calc(100% - 54px);
                margin: 0px;
                height: 30px;
                margin: 0px;
                padding: 0px;
                font-size: 15px;
            }

            button {
                display: inline-block;
                width: 50px;
                background: #4C6F97;
                border: 0px;
                height: 34px;
                cursor: pointer;

                transition: all 0.2s linear;

                &:hover {
                    background: #8DAFD6;
                }
            }
        }
    }

    .team {
        flex: 2;
        max-width: 300px;

        .team-title {
            font-size: 20px;
            padding: 10;
            text-align: center;
            background: #4C6F97;
            color: white;
            cursor: pointer;
        }

        .player {
            width: 90%;
            margin: auto;
            margin-top: 5px;
            display: flex;
            font-size: 20px;

            background: #172432;

            box-shadow: 1px 1px 1px 1px #000;

            border: 1px solid transparent;

            &.ready {
                border: 1px solid #424C27;
            }

            &.self {
                border: 1px solid yellow;
            }

            &>div {
                flex: 1;
                padding: 10px;
                margin: auto;
            }

            &>div:first-child {
                max-width: 50px;
                width: 50px;
                height: 50px;

                img {
                    max-width: 100%;
                }
            }

            .player-remove,
            .player-admin {
                max-width: 50px;
            }

            .player-remove {
                width: 20px;
                height: 25px;
                cursor: pointer;
                content: url('data:image/svg+xml;charset=utf-8,<svg width="454px" height="454px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 454 454"><circle fill="red" cx="227.556" cy="227.556" r="227.556" /><path fill="white" d="M331.378,331.378c-8.533,8.533-22.756,8.533-31.289,0l-72.533-72.533l-72.533,72.533  c-8.533,8.533-22.756,8.533-31.289,0c-8.533-8.533-8.533-22.756,0-31.289l72.533-72.533l-72.533-72.533  c-8.533-8.533-8.533-22.756,0-31.289c8.533-8.533,22.756-8.533,31.289,0l72.533,72.533l72.533-72.533  c8.533-8.533,22.756-8.533,31.289,0c8.533,8.533,8.533,22.756,0,31.289l-72.533,72.533l72.533,72.533  C339.911,308.622,339.911,322.844,331.378,331.378z" /></svg>');
            }

            .player-admin {
                width: 20px;
                height: 25px;
                content: url('data:image/svg+xml;charset=utf-8,<svg width="511px" height="511px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511 511"><path fill="yellow" d="M469.333,127.962c-23.564,0-42.667,19.103-42.667,42.667c0.009,4.473,0.729,8.916,2.133,13.163 l-34.603,21.995c-22.783,14.516-52.821,9.705-69.931-11.2l-33.92-41.493c5.398-7.267,8.316-16.078,8.32-25.131 c0-23.564-19.103-42.667-42.667-42.667s-42.667,19.103-42.667,42.667c0.004,9.053,2.922,17.864,8.32,25.131l-33.92,41.493 c-17.107,20.893-47.131,25.703-69.909,11.2L83.2,183.792c1.405-4.247,2.125-8.69,2.133-13.163 c0.004-23.564-19.095-42.67-42.66-42.674C19.11,127.951,0.004,147.051,0,170.615c-0.004,22.12,16.898,40.575,38.933,42.51 l25.216,151.253c0.855,5.143,5.303,8.915,10.517,8.917h362.667c5.214-0.002,9.662-3.774,10.517-8.917l25.216-151.253 c23.47-2.105,40.79-22.838,38.685-46.308C509.781,144.848,491.39,128.003,469.333,127.962z" /></svg>');
            }
        }
    }
}

.team-select-ready {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    text-align: center;

    button {
        border: none;
        width: 300px;
        padding: 20px 20px;
        font-size: 30px;
        background: #4C6F97;
        cursor: pointer;

        &:hover {
            background: #8DAFD6;
        }

        &.ready {
            background: #384522;
        }
    }
}