@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    color: #fff;
    background: rgb(8,16,23);
    background: radial-gradient(circle, rgba(8,16,23,1) 0%, rgba(40,60,80,1) 11%, rgba(8,16,23,1) 75%);
    display: flex;
}