gadm/migrations
gadm/venv
gadm/temp
gadm/output
gadm/downloads
gadm/geojson

api/venv
api/db.json
api/db.sqlite3

mysql/data
mysql/game.sql
mysql/db_dump.zip

client/node_modules

mapshaper-api/node_modules

.vscode
*.pyc

